@charset "UTF-8";
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #588C7E;
  background-color: #D96459;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #F2E394;
  text-decoration: none; }

h1 {
  color: #D96459;
  margin-bottom: 1em;
  font-size: 2.2rem; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 4.4rem;
      font-weight: 300; } }

/* -------------------------------- 

Container Boxes 

-------------------------------- */
.container {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  background: #000; }

.box {
  position: absolute;
  display: block;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .box:nth-child(1) {
    background: #588C7E;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 50%;
    margin: 2% 1% 1% 2%; }
  .box:nth-child(2) {
    background: #F2E394;
    top: 0;
    bottom: 50%;
    left: 50%;
    right: 0%;
    margin: 2% 2% 1% 1%; }
  .box:nth-child(3) {
    background: #D96459;
    top: 50%;
    bottom: 0%;
    left: 0;
    right: 50%;
    margin: 1% 1% 2% 2%; }
  .box:nth-child(4) {
    background: #F2AE72;
    top: 50%;
    bottom: 0%;
    left: 50%;
    right: 0%;
    margin: 1% 2% 2% 1%; }

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.cd-btn.full {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  border: solid 2px black; }
  .cd-btn.full span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 59.30121px; }
.no-touch .cd-btn:hover {
  background-color: #000000; }
.cd-about .cd-btn {
  background-color: #588C7E; }

.cd-btn-trigger {
  position: fixed;
  z-index: 3;
  right: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #588C7E;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }
  .cd-btn-trigger .cd-btn-icon {
    /* icon created in CSS */
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #D96459; }
    .cd-btn-trigger .cd-btn-icon::before, .cd-btn-trigger .cd-btn-icon:after {
      /* upper and lower lines of the menu icon */
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: inherit;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .cd-btn-trigger .cd-btn-icon::before {
      -webkit-transform-origin: right top;
      -moz-transform-origin: right top;
      -ms-transform-origin: right top;
      -o-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .cd-btn-trigger .cd-btn-icon::after {
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .no-touch .cd-btn-trigger:hover .cd-btn-icon::after {
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    transform: rotate(-55deg); }
  .no-touch .cd-btn-trigger:hover .cd-btn-icon::before {
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg); }
  .cd-btn-trigger svg {
    position: absolute;
    top: 0;
    left: 0; }
  .cd-btn-trigger circle {
    stroke-dashoffset: 0;
    /* circle border animation */
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s; }
  @media only screen and (min-width: 1170px) {
    .cd-btn-trigger {
      top: 40px; } }

/* -------------------------------- 

Main Components 

-------------------------------- */
body::after, body::before {
  /* these are the 2 half blocks which cover the content once the animation is triggered */
  content: '';
  height: 50vh;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: #D96459;
  z-index: 2;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.4s 0.4s;
  -moz-transition: -moz-transform 0.4s 0.4s;
  transition: transform 0.4s 0.4s; }
body::before {
  top: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }
body::after {
  bottom: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }
body.page-is-changing::after, body.page-is-changing::before {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s 0s;
  -moz-transition: -moz-transform 0.4s 0s;
  transition: transform 0.4s 0s; }

main {
  position: relative;
  z-index: 1;
  height: 100vh;
  padding: 0px;
  text-align: center;
  background: #000000;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99); }
  .navigation-is-open main {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  main .cd-main-content {
    position: relative;
    height: calc(100vh); }
    main .cd-main-content > div {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; }
    main .cd-main-content::before {
      top: 0; }
    main .cd-main-content::after {
      bottom: 0; }
    main .cd-main-content.cd-index {
      /* .cd-main-content basic style - index page */
      background-color: #000000;
      /* vertically center its content */
      display: table;
      width: 100%; }
      main .cd-main-content.cd-index > div {
        /* vertically center the content inside the .cd-index */
        display: table-cell;
        vertical-align: middle; }
      main .cd-main-content.cd-index::after {
        background-color: rgba(88, 140, 126, 0);
        background-image: -webkit-linear-gradient(bottom, #588c7e, rgba(88, 140, 126, 0));
        background-image: linear-gradient(to top,#588c7e, rgba(88, 140, 126, 0)); }
      main .cd-main-content.cd-index::before {
        background-color: rgba(88, 140, 126, 0);
        background-image: -webkit-linear-gradient(top, #588c7e, rgba(88, 140, 126, 0));
        background-image: linear-gradient(to bottom,#588c7e, rgba(88, 140, 126, 0)); }
    main .cd-main-content.cd-about {
      /* .cd-main-content basic style - about page */
      background-color: #000000; }
      main .cd-main-content.cd-about > div {
        padding-top: 50px; }
      main .cd-main-content.cd-about::after {
        background-color: rgba(242, 227, 148, 0);
        background-image: -webkit-linear-gradient(bottom, #f2e394, rgba(242, 227, 148, 0));
        background-image: linear-gradient(to top,#f2e394, rgba(242, 227, 148, 0)); }
      main .cd-main-content.cd-about::before {
        background-color: rgba(242, 227, 148, 0);
        background-image: -webkit-linear-gradient(top, #f2e394, rgba(242, 227, 148, 0));
        background-image: linear-gradient(to bottom,#f2e394, rgba(242, 227, 148, 0)); }
  main p {
    width: 90%;
    max-width: 768px;
    margin: 3em auto;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #f5e9a9;
    text-align: left; }
  @media only screen and (min-width: 768px) {
    main .cd-main-content {
      height: calc(100vh); }
    main.cd-index > div {
      padding-top: 200px; }
    main.cd-index > div {
      padding-top: 50px; }
    main p {
      font-size: 1.8rem;
      line-height: 2; } }

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #588C7E;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }
  .cd-nav-trigger .cd-nav-icon {
    /* icon created in CSS */
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #D96459; }
    .cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
      /* upper and lower lines of the menu icon */
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
      -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
      transition: transform 0.5s, width 0.5s, top 0.3s; }
    .cd-nav-trigger .cd-nav-icon::before {
      -webkit-transform-origin: right top;
      -moz-transform-origin: right top;
      -ms-transform-origin: right top;
      -o-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .cd-nav-trigger .cd-nav-icon::after {
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
    top: 2px; }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
    top: -2px; }
  .cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0; }
  .cd-nav-trigger circle {
    /* circle border animation */
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s; }
  .navigation-is-open .cd-nav-trigger {
    /* rotate trigger when navigation becomes visible */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
      /* animate arrow --> from hamburger to arrow */
      width: 50%;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s;
      -moz-transition: -moz-transform 0.5s, width 0.5s;
      transition: transform 0.5s, width 0.5s; }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
      top: 0; }
    .navigation-is-open .cd-nav-trigger circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset 0.4s 0.3s;
      -moz-transition: stroke-dashoffset 0.4s 0.3s;
      transition: stroke-dashoffset 0.4s 0.3s; }
  @media only screen and (min-width: 1170px) {
    .cd-nav-trigger {
      top: 40px; } }

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #314d46;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s; }
  .cd-nav .cd-navigation-wrapper {
    /* all navigation content */
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 5% 40px calc(5% + 80px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78); }
  .navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s; }
    .navigation-is-open .cd-nav .cd-navigation-wrapper {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); }
  .cd-nav h2 {
    position: relative;
    margin-bottom: 1.7em;
    font-size: 1.3rem;
    font-weight: 800;
    color: #3a5d54;
    text-transform: uppercase; }
    .cd-nav h2::after {
      /* bottom separation line */
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      height: 1px;
      width: 60px;
      background-color: currentColor; }
  .cd-nav .cd-primary-nav {
    margin-top: 60px; }
    .cd-nav .cd-primary-nav li {
      margin: 1.6em 0; }
    .cd-nav .cd-primary-nav a {
      font-family: "Merriweather", serif;
      font-size: 2.4rem;
      color: rgba(217, 100, 89, 0.3);
      display: inline-block; }
      .cd-nav .cd-primary-nav a.selected {
        color: #D96459; }
      .no-touch .cd-nav .cd-primary-nav a:hover {
        color: #D96459; }
  .cd-nav .cd-contact-info {
    margin-top: 80px; }
    .cd-nav .cd-contact-info li {
      font-family: "Merriweather", serif;
      margin-bottom: 1.5em;
      line-height: 1.2;
      color: rgba(217, 100, 89, 0.3); }
    .cd-nav .cd-contact-info a {
      color: #D96459; }
    .cd-nav .cd-contact-info span {
      display: block; }
    .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
      font-size: 1.6rem; }
  @media only screen and (min-width: 1170px) {
    .cd-nav .cd-navigation-wrapper {
      padding: 62px 20%; }
      .cd-nav .cd-navigation-wrapper::after {
        clear: both;
        content: "";
        display: table; }
    .cd-nav .cd-half-block {
      width: 50%;
      float: left; }
    .cd-nav .cd-primary-nav {
      margin-top: 0; }
    .cd-nav h2 {
      font-size: 1.5rem;
      margin-bottom: 5.6em; }
    .cd-nav .cd-primary-nav li {
      margin: 2em 0; }
    .cd-nav .cd-primary-nav a {
      font-size: 4.4rem; }
    .cd-nav .cd-contact-info {
      margin-top: 120px;
      text-align: right; }
      .cd-nav .cd-contact-info li {
        margin-bottom: 2.4em; }
      .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
        font-size: 2rem; } }

.cd-cover-layer {
  /* layer that covers the content when the animation is triggered */
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  opacity: 0;
  visibility: hidden;
  background-color: #588C7E;
  z-index: 1;
  -webkit-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
  -moz-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
  transition: opacity 0.4s 0.4s, visibility 0s 0.8s; }
  .cd-about .cd-cover-layer {
    background-color: #F2E394; }
  .page-is-changing .cd-cover-layer {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s; }
  @media only screen and (min-width: 768px) {
    .cd-cover-layer {
      height: calc(100% - 40px);
      width: calc(100% - 40px); } }

.cd-loading-bar {
  /* this is the loding bar - visible while switching from one page to the following one */
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 90%;
  background-color: #588C7E;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.4s, -webkit-transform 0.4s 0s ease-in;
  -moz-transition: visibility 0s 0.4s, -moz-transform 0.4s 0s ease-in;
  transition: visibility 0s 0.4s, transform 0.4s 0s ease-in;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .cd-about .cd-loading-bar {
    background-color: #F2E394; }
    .cd-about .cd-loading-bar::before {
      background-color: #588C7E; }
  .cd-loading-bar::before {
    /* this is the progress bar inside the loading bar */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F2E394;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .page-is-changing .cd-loading-bar {
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -moz-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -ms-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -o-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -webkit-transition: visibility 0s 0.3s, -webkit-transform 0.4s 0.4s;
    -moz-transition: visibility 0s 0.3s, -moz-transform 0.4s 0.4s;
    transition: visibility 0s 0.3s, transform 0.4s 0.4s; }
    .page-is-changing .cd-loading-bar::before {
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition: -webkit-transform 0.8s 0.8s ease-in;
      -moz-transition: -moz-transform 0.8s 0.8s ease-in;
      transition: transform 0.8s 0.8s ease-in; }
  @media only screen and (min-width: 768px) {
    .cd-loading-bar {
      width: calc(100% - 40px); } }

/*# sourceMappingURL=style.css.map */
